<article class="post">
  <a href="/post/{{id}}">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
  <div class="meta">
    <p>{{post_text}}</p>
    {{vote_count}}
    {{format_plural "point" vote_count}}
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    {{comments.length}}
      {{format_plural "comment" comments.length}}
  </div>
  </a>
</article>